/* ____________________________Responsive Page____________________________ */
/* Font Family Roboto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
/* root color */
:root {
  --error-color: #b3261e;
  --text-color: #637381;
  --dark: #212b36;
  --dark-blue: #0f2f52;
  --red: #c60a2e;
  --color-line: #dbdbdb;
  --color-blue: #3a71c2;
  --color-orange: #ffbb37;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --info-color: #1abc9c;
  --green: #28a745;
  --teal: #008080;
  --primary: #2980b9;
  --secondary: #6c757d;
  --success: #1abc9c;
  --info: #17a2b8;
  --cyan: #17a2b8;
  --teriary-color: #3390c9;
  --white: #fff;
  --bg-btn: #eeeeee;
  --bg-footer: #f2f2f2;
  --bg-border: #f9f9f9;
  --bg-room: #f8f8f8;
  --text-paragrap: #999999;
  --text-color-paragrap: #898989;
  --gray: #637381;
  --gray-dark: #343a40;
  --Tertiary: #008080;
  --dark-Green: #004643;
  --bg-primary: #2980b9;
  --bg-info: #17b193;
  --bg-gray: #f4f7ff;
  --bg-text: #d9d9d9;
  --bg-contact: #f6f6f6;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .search-section {
    padding: 30px 30px;
  }
  /* body Section */
  .body-section {
    margin: 0px;
  }
  .demo-bg-image {
    margin-bottom: 100px;
  }
  .demo-group-icon {
    top: -60px;
    right: 50px;
    width: 285px;
    height: 215px;
    left: -20px;
  }
  .demo-body-title {
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
  }
  .demo-body-para {
    align-self: center;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--text-paragrap);
  }
  .demo-text-link {
    color: var(--primary);
  }
  .demo-line {
    align-self: center;
    width: 90px;
    height: 1px;
    background-color: var(--color-line);
  }
  .text-read-more {
    font-size: 12px;
    letter-spacing: 1px;
    align-self: center;
    font-weight: 200;
    color: var(--success);
  }
  /* style facility section */
  .mt-facility-respon {
    margin-top: 60px;
    font-size: 24px;
  }
  .facility-section {
    padding: 20px;
  }

  /* style card section */
  .demo-card-title-section {
    align-self: center;
    text-align: center;
    font-size: 24px;
  }
  .card-section {
    background-color: var(--white) !important;
    padding: 45px;
  }
  .demo-card-para {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--text-paragrap);
    margin-bottom: 25px;
    align-self: center;
    text-align: center;
  }
  .room-price {
    position: absolute;
    top: 333px;
    right: 0px;
    z-index: 1;
    color: var(--white);
    padding: 8px 12px;
    border-top-left-radius: 6px;
    background-color: var(--bg-primary);
  }
  .demo-card-image-respon {
    width: 150px;
  }
  /* section partner & sub partner */
  .section-partner {
    margin: 30px 0px;
  }
  .border-partner-section {
    padding: 10px 25px;
    border-radius: 6px;
    background-color: var(--bg-btn);
  }
  .partner-logo-respon {
    width: 80px;
  }
  .partner-logo-agoda {
    width: 40px;
  }
  /* Section Contact */
  .img-contact-respon {
    padding: 20px;
    border-radius: 6px !important;
    width: 500px;
    height: 355px;
  }
  .section-text {
    padding: 20px;
  }
  .section-contact-para {
    font-size: 13px;
    font-weight: 200;
    color: var(--text-paragrap);
  }
  .btn-section-contact {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 185px;
    color: var(--white);
    border-radius: 8px;
    background-color: var(--info-color);
    border-color: var(--info-color);
  }
  /* Card room section */
  .card-section {
    padding: 20px;
  }
  /* News and Update Section */
  .section-news {
    padding: 20px;
  }
  /* Footer */
  .footer-left-respon {
    text-align: left;
    align-items: start;
  }
  .text-copyright-respon {
    font-size: 13px;
    font-weight: 200;
  }
  .footer-logo {
    width: 200px;
  }
  /* sub partner bg color */
  .sub-section-partner {
    background-color: var(--bg-contact);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  /* ---------------------Home-------------------------- */
  /* section accommodation */
  .section-accommodation {
    background-color: var(--white) !important;
  }
  .demo-sub-card-para {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--text-paragrap);
    margin-bottom: 25px;
  }
  .demo-sub-card-on-h2 {
    font-size: 25px;
  }
  /* home section about us */
  .demo-group-icon-about {
    width: 285px;
    height: 265px;
    top: 10px;
    left: -40px;
  }
  .demo-about-us-card {
    width: 520px;
  }
  .mt-respon {
    margin: 1rem 0rem;
  }
  .demo-about-us-mr {
    margin-top: 50px;
  }
  .image-about-respon {
    width: 100%;
  }
  .rounded-radio-cuz {
    border-radius: 8px !important;
  }
  /* .demo-text-about-us {
    width: 0px;
  } */

  /* News and Update section */
  .section-News {
    padding: 30px 0px;
  }
  .section-Update {
    padding: 30px 0px;
  }
  .btn-news-more-sr {
    margin-top: 9px;
  }
  .mt-sm-5 {
    margin-top: 50px;
  }
  /* Contact US Home */
  .mt-sm-5 {
    margin-top: 2rem;
  }
  .demo-contact-us {
    padding: 65px;
  }
  .demo-card-contact-us {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  /* Section Detail Facility Gallry */
  .section-detail-facility {
    padding: 20px;
  }
  .demo-detail-facility {
    padding: 20px 10px 0px;
  }
  /* Booking Room Datail section */
  .demo-step {
    margin-top: -26px;
    padding: 0px 50px;
  }
  .section-suggestion-others-room {
    padding: 20px;
  }
  /* Booking */
  .line-payment {
    left: 226px;
    top: 1px;
    position: absolute;
    width: 2px;
    height: 75px;
    background-color: var(--bg-text);
  }
  /* payment */
  .text-small-credit {
    font-size: 12px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .search-section {
    padding: 30px 30px;
  }
  /* body Section */
  .body-section {
    margin: 0px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {
}
