/*  */

/* .swiper-btn-demo {
  top: 90px;
  right: -40px;
  z-index: 4;
  width: 35px;
  height: 35px;
  padding: 6px 0;
  content: "f053" !important;
  border-radius: 25px;
  color: #fff !important;
  background-color: aqua !important;
}
.swiper-btn-mode {
  top: 90px;
  left: -40px;
  z-index: 4;
  width: 35px;
  height: 35px;
  padding: 6px 0;
  content: "f054";
  border-radius: 25px;
  color: #fff !important;
  background-color: aqua !important;
} */
